.toast {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateY(3rem) translateX(-50%);
  transition: all 0.2s ease-in-out;
  background-color: var(--alert);
  color: white;
  font-weight: bolder;
  padding: 1rem 2rem;
  z-index: 100;
}

.toast-visible {
  transform: translateY(-2rem) translateX(-50%);
}
