.data-table {
    margin: 1rem;
    position: relative;
    border-collapse: separate;
    border-spacing: 1rem;
    width: calc(100% - 2rem);
}

.table-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 80vh;
    overflow: auto;
}

.entry-editor {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 1rem;
}

.data-table::-webkit-scrollbar {
    display: none;
}

.data-table thead {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding-bottom: 1rem;
    z-index: 2;
}

.data-table thead tr {
    border-collapse: collapse;
}

.data-table thead th {
    text-align: center;
}

.data-table th, td {
    text-align: left;
}

.data-table td {
    text-align: center;
    padding: 0.5rem;
}

.data-table tbody tr {
    margin: 1rem;
}

.data-table tbody td:nth-child(2), td:nth-child(3) {
    font-size: 1.3rem;
    font-weight: bolder;
}

.data-table tbody td:nth-child(4) {
    text-align: left;
}

.action {
    color: lightgray;
    cursor: pointer;
    margin: 5px;
}

.action-delete:hover {
    color: red;
}

.action-edit:hover {
    color: navy;
}