.data-table {
    margin: 1rem;
    height: 70vh;
    display: block;
    overflow: auto;
    position: relative;
    border-collapse: separate;
    border-spacing: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: calc(100% - 2rem);
}

.data-table::-webkit-scrollbar {
    display: none;
}

.table-header-bg {
    position: absolute;
    height: 3rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.data-table thead {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, white 90%, rgba(255,255,255,0));
    padding-bottom: 1rem;
    z-index: 2;
}

.data-table thead tr {
    background-color: white;
    border-collapse: collapse;
}

.data-table th, td {
    padding: 0.1rem 1rem;
    text-align: left;
}

.data-table td {
    text-align: center;
    padding: 0.5rem;
}

.data-table tbody tr {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin: 1rem;
}

.data-table tbody td:nth-child(2), td:nth-child(3) {
    font-size: 1.3rem;
    font-weight: bolder;
}

.data-table tbody td:nth-child(4) {
    text-align: left;
}