.scratch-title {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
}

.scratch-area {
    border: none;
    height: 100px;
    width: calc(100% - 1rem);
    margin-top: 20px;
    outline: solid 1px #DEDEDE;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.scratch-card {
    margin: 1rem;
}

.scratch-loading {
    margin: 0;
    font-size: 12px;
}

.scratch-area:focus {
}
