
h1 {
    color: var(--primary);
    margin: 1rem;
}

.layout {
    display: flex;
    align-items: flex-end;
    overflow-x: hidden;
}

.shadowed {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

input {
    margin: 1rem;
}

input[type="number"] {
    width: 5rem;
}

#mobile-disclaimer {
    display: none;
}

@media (max-width: 800px) {
    #root {
        height: 0;
        overflow: hidden;
    }

    #mobile-disclaimer {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        background-color: white;
        height: calc(100vh - 80vh);
        width: calc(100vw - 6rem);
        padding: 40vh 3rem;
        z-index: 9999;
        margin: 0;
        text-align: center;
    }
}
