
h1 {
    color: black;
    margin-left: 3rem;
}

.layout {
    display: flex;
    align-items: flex-end;
    overflow-x: hidden;
    padding: 1rem;
}

.shadowed {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.flex1 {
    flex: 2;
}